@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'oswald', cursive;
}

header {
    background-color: #ebdfdf;
    display: flex;
    align-items: center;
    padding-right: 8px;
}


header img {
    width: 300px;
    height: 60px;
}
    .menu-btn {
        cursor: pointer;
        margin-right: 12px;
        transition: all 0.3s ease;
        display: none;
    }

    .menu-btn .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
        transition: all 0.3s ease;
    }

    .menu-btn.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

.drawer-bg {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.drawer {
    background-color: #ebdfdf;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-centent;
    margin-right: 17px;
}

.drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    cursor: pointer;
    width: 100%;
}

.drawer li {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.drawer li:hover {
    background-color: #333;
    color: #ebdfdf;
    border-radius: 5px;
}

.drawer.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: wheat;
    font-size: 18px;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    padding-top: 15px;
}


h4, h5, p {
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}   

.skils img {
    width: 100px;
    height: 100px;
    padding: 12px;
}

.skils h3, .skils p{
    text-align: left;
    padding: 0;
}
.skils #skils-div {
    width: 400px;
    padding: 4px;
    max-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    cursor: pointer;
}

.skils #skils-div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #ebdfdf;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer img  {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}

footer img:hover {
    transform: scale(1.1);
    background-color: rgb(207, 173, 173);
}

footer p {
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    header {
        justify-content: center;
        padding: 10px;
    }

    header img {
        width: 60%;
        height: 50px;
    }
    .menu-btn {
        display: block;
        position: absolute;
        right: 0;
    }

    .drawer {
        display: flex;
        transition: right 0.3s ease-in-out;
        justify-content: right;
        margin-top: 70px;
        margin-right: 0;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.562);
    }

    .drawer ul {
        flex-direction: column;
        width: 100%;
        background-color: #ebdfdf;
        height: 100%;
        width: 60%;
        gap: 10px;
    }
    .drawer li {
        padding: 10px;
        width: 100%;
        text-align: center;
        border-radius: 0;
        padding: 0 5px 5px 0;
    }

    .drawer li:hover {
        background-color: #333;
        color: white;
        width: 100%;
        text-align: center;
        border-radius: 0;
        padding: 0 5px 5px 0;
    }

    .close {
        display: block;
    }


    .container {
        padding: 15px;
        flex-direction: column;
    }

    .container img {
        width: 250px;
        height: 250px;
    }

    .container h2 {
        text-align: center;
    }

    .skils #skils-div {
        width: 100%;
        max-height: fit-content;
    }
}

